
.miniswiper{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
}
.miniswiper_item{
    text-align: center;
    cursor: pointer;
}
.miniswiper_item img{
    transition: 0.3s;
}
.miniswiper_item p{
    transition: 0.3s;
}
.miniswiper_item:hover  img{
    transform: translateY(-10px);
}
.miniswiper_item:hover  p{
    color: var(--color_gold);
}